
<div class="justify full padded">
  <h1>About Us</h1>
  We understand the cardinality of physics as a field of study in everyone's life, and we also acknowledge
  the fact that it is also one of the most ridiculed subjects out there! Hence, we, the founders of Fizz, set 
  out with one motive - <i>to add soda to physics</i> i.e. to fizz-up physics and turn it into fizzics!
  
  <br>
  <div class="center full"><img id="banner" src="data/images/Full.jpg" /></div>
  
  Fizz is supposed to be an effort to solve a multitude of problems that high-school physics students
  often come across. You can use the website in multiple fashions - for a preparatory glance on topics
  that you are about to learn in school, as notes for everything you've covered, for revision before the
  exams, or simply to satiate your curiosity of some topics that are yet to be covered in school. You can 
  also use these website to get your queries pertaining to the subject solved by reputed experts that have
  tied up with us. 
  Here is a list of the problems and how we plan to solve it.
  <h2>Why you can call us the panacea for physics students world-wide:</h2>
  <section>
    <h3>No more resource hunting</h3>
    <p>Looking for resources is often a consuming task. Most websites out there that intend to guide you through
    learning physics cover concepts that exceed the curriculum, or fail to address it altogether. Fizz provides
    one stop-shop for everything you need to know about the Coordinated Science IGCSE (subject code: 0654)
    syllabus. We provide you with news of the science world, past papers of the subject, quizzes about all topics
    you learned, and syllabus-wise overview of all the chapters of physics. </p>
  </section>
  <section>
    <h3>Expert help</h3>
    <p>Got some queries and can't find help due to some reason or the other? No problem. We bring to you a
    panel of experts to get your questions answered. You can receive help at your convenience - by mail or
    by the feature on the website itself.</p>
  </section>
  <section>
    <h3>Practical-ization</h3>
    <p>We have deduced from our experience of the subject that the theory part, is pretty simple (though
    argued otherwise). However, the application of the concepts into pracitcal situations is a really 
    challenging task. Thus, apart from the simplification of the theory itself, we've worked hard to provide
    practical problems in the quizzes and we also intend to release a few case studies that apply
    the concepts of physics to a practical, real-life situation (they'll be available under the news section).
    Also, we've synced a news feed with ScienceDaily which we strongly recommend viewers to read through
    occasionally, which might give real-time updates and applications of physics.</p>
  </section>
  <section>
    <h3>Soporific Jargon?!</h3>
    <p>Reading physics is a tough task due to two reasons - the jargon, and the sleep-inducing content. We've
    tried our best to make the text as simple as possible, and given notes about the meaning of every
    seemingly difficult word. Besides, we've provided screen-reader built into the website to give up the
    pains of reading the text. We've also condensed the long chapters of your physics textbook into
    chapters as long as one paragraph! Great, ain't it? For those of you who don't find that great, don't worry!
    We've provided links to external resources that you can consult for more exploration. </p>
  </section>
  <section>
    <h3>Sassiness</h3>
    <p>We, at Fizz, strive to give you the most sassy experience in your venture in learning physics. Due to 
    which, we have given special attention to the design of the website. Many physics learning resources are
    a pain to look at! We've tried our best to adapt modern design standards - minimalism and material design -
    on the website to give you a thrilling user experience. Right from the font, to the menu - everything
    is specially picked for giving an amazing effect because we understand the importance of visual appeal on
    education. All our units are accompanied by images too, to add some color to otherwise monotonous lectures.
    </p>
  </section>
  <section>
    <h3>Ease of use</h3>
    <p>You can *like* units on the website, and you can ask questions on your personal dashboard. However, 
    we've eliminated the need for any sign up. Isn't that cool? Your computer is your identity! Because the 
    website doesn't need to be of high security, we've understood the lack of need of a signup procedure, making
    the website easy to use. We've also designed the website in a way that mobile users can view the content
    without any issues. </p>
  </section>
</div>

<style>
  #banner{
    width:100%;
    max-width:600px;
  }
</style>