<div class="justify padded full normalized_links">
  <section>
    <h1>Get In Touch</h1>
    <h2>About the founders</h2>
    <section>
      <h3>Vinit Jogani</h3>
      <p>"Greetings, people. I'm a computer enthusiast and I love to program and design web applications and softwares. I think my
      natural inclination towards the field of math espouses my understanding of phyiscs as a subject. The idea of Fizz appeals to me
      because as a computer science student, physics played an important part of my study and I found it pretty intuitive, contrary to
      what many people believe! I'm also a huge devotee of good design which makes the poor design of many physics resources out there
      kinda disappointing. So here I am, with views to change and a world to revolutionize <i>[*winks*]</i>! 
      At Fizz, my responsibilities include the entire website design, and functionality, along
      with some of the units, and page content. In my IGCSEs, I scored a double A* in Coordinated Sciences
      and I'm now a Physics HL student in IBDP. Other than computer programming my hobbies include playing soccer and the guitar."</p>
    </section>
    <section>
      <h3>Manan Shah</h3>  
      <p>"Hello, users. I am a student who used to loathe physics initially - all the theorems and laws used to seem so confusing
      that I could hardly decipher anything. Although after a lot of rigorous practice and extra efforts, I actually started to like
      the subject, and to an extent that it became an integral part of my life. Physics helps me think
      logically and helps me in other subjects like computer science. All the hard work paid off when I aced the Physics component 
      in the IGCSE Co-ordinated sciences. The idea of Fizz seems very innovative and is a good way to help extirpate the fear associated
      with physics. It is supposed to make the subject interesting and easy to understand. At Fizz, my responsibilities include
      putting up the units, and page content. I am also responsible for the monthly/daily updation of the content. I also act as a
      second perspective to the design of the website. As I am pursuing commerce, I haven't taken up any natural sciences in IBDP,
      however, I think I can help the cause with my strong prior knowledge of the subject. My hobbies include karate and
      playing the keyboard."</p>
     </section>
    <br>
    <h2>Social Connect? We got it.</h2>
    Got some feedback or problem? Or just need to drop in a note for us? Or maybe you just want to keep up with the latest developments
    at Fizz? We got it. We have numerous channels through which you can get in touch with us.
    
    You can use the email's of the respective founders, <a href="mailto:vinit@thefizzway.com">VINIT</a> and 
    <a href="mailto:manan@thefizzway.com">MANAN</a>, in case you've got a message for them directly. 
    
    The <a href="mailto:dev@thefizzway.com">DEVELOPER EMAIL</a> is the one you should send your message to in case you have a question
    regarding the software or design of the website.
    
    In case you don't know which one to send it to, just drop your message to the <a href="support@thefizzway.com">SUPPORT EMAIL</a>, 
    and we'll get it through to the respective entity. 
    
    And of course, there are the three usual buttons you'd usually find everywhere...
  </section>
  <br>
  <div class="full padded center">
    <a target="_blank" href="http://facebook.com/TheFizzWay" class="contactAction fa fa-facebook"></a>
    <a target="_blank" href="http://plus.google.com/+TheFizzWayOfficial" class="contactAction fa fa-google-plus"></a>
    <a target="_blank" href="http://www.youtube.com/channel/UCJvL_MCTa5wnL81eRwOeWkQ" class="contactAction fa fa-youtube"></a>
  </div>
</div>
<style>
  .contactAction{
    padding:20px;
    font-size:25px;
    width:65px;
    box-sizing:border-box;
    text-align:center;
    text-decoration:none !important;
    color:black;
  }
  .contactAction:hover{
    background-color:#252525 !important;
    color:white !important;
  }
  .normalized_links a:not(.contactAction){
    color:black;
    font-size:13px;
    padding:5px;
  }
  .normalized_links a:not(.contactAction):hover{
    background-color:#252525;
    color:rgba(255,255,255,0.8);
    text-decoration:none;
  }
</style>